/*****************************************/
/*****************************************/
/* GraftoniteWindow */
GraftoniteWindow {
    background-color: rgb( 64, 65, 66 );
    color: rgb( 190, 192, 193 );
}
/*****************************************/
/*****************************************/
/* QAbstractScrollArea */
QAbstractScrollArea {
    background-color: transparent;
/*     background-color: rgb( 33, 34, 34 ); */
    border: none;
}
QAbstractScrollArea > QWidget > QWidget {
    background: transparent;
}
/*QAbstractScrollArea > QWidget {
    background: transparent;
}*/
/*****************************************/
/*****************************************/
/* QToolBox */
QToolBox::tab {
    background: #4d4e4f;
    border-radius: 5px;
    color: darkgray;
}
QToolBox::tab:selected { /* italicize selected tabs */
    font: italic;
    color: white;
}
QToolBox::tab:hover {
    background-color: rgb( 33, 34, 34 );
}
QToolBox > QWidget {
    border: 2px solid black;
}
/*****************************************/
/*****************************************/
/* QLabel */
QLabel {
    color: #bfc0c1;
}
QLabel:disabled {
    color: #404040;
}
/*****************************************/
/*****************************************/
/* QPushButton */
QPushButton {
    background-color: #4d4e4f;
    color: #bfc0c1;
    icon-size: 20px;
}
QPushButton:hover {
    background-color: #5b5c5d;
}
QPushButton:disabled {
    background-color: #444444;
    color: #686868;
}
/*****************************************/
/*****************************************/
/* QToolButton */
QToolButton
{
    icon-size: 30px;
}
QToolButton:hover {
    border: 1px solid blue;
    background: red;
}
QToolButton:disabled {
    background-color: #444444;
    color: #686868;
}
/*****************************************/
/*****************************************/
/* QLineEdit */
QLineEdit {
    background-color: #2e2f30;
    color: #bfc0c1;
}
QLineEdit:focus, QLineEdit:hover {
    border: 1px solid #17434a;
    border-radius: 2px;
}
QLineEdit:disabled {
    background-color: #444444;
    color: #686868;
}
/*****************************************/
/*****************************************/
/* QSpinBox */
QSpinBox {
    background-color: #2e2f30;
    color: #bfc0c1;
/*     padding-right: 6px; */
}
QSpinBox:focus, QSpinBox:hover {
    border: 1px solid #17434a;
    border-radius: 2px;
}
QSpinBox:disabled {
    background-color: #444444;
    color: #686868;
}
QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */

    width: 12px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
    height: 11px;
    background-color: #4d4e4f;
/*     border-image: url(./themes/Dark Theme/spin_up.png); */
    border-width: 0px;
    left: -1px;
    top: 1px;
}
QSpinBox::up-button:hover {
    background-color: #17434a;
}
QSpinBox::up-arrow {
    image: url(./themes/Dark Theme/spin_up.png);
    width: 8px;
    height: 8px;
}
QSpinBox::up-arrow:disabled, QSpinBox::up-arrow:off { /* off state when value is max */
   image: url(./themes/Dark Theme/spin_up_disabled.png);
}
QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at bottom right corner */
    width: 12px;
    height: 11px;
    background-color: #4d4e4f;
/*     border-image: url(./themes/Dark Theme/spin_down.png); */
    border-width: 0px;
    border-top-width: 0;
    left: -1px;
    bottom: 1px;
}
QSpinBox::down-button:hover {
    background-color: #17434a;
}
QSpinBox::down-arrow {
    image: url(./themes/Dark Theme/spin_down.png);
    width: 8px;
    height: 8px;
}
QSpinBox::down-arrow:disabled, QSpinBox::down-arrow:off { /* off state when value is max */
   image: url(./themes/Dark Theme/spin_down_disabled.png);
}
/*****************************************/
/*****************************************/
/* QDoubleSpinBox */
QDoubleSpinBox {
    background-color: #2e2f30;
    color: #bfc0c1;
/*     padding-right: 6px; */
}
QDoubleSpinBox:focus, QDoubleSpinBox:hover {
    border: 1px solid #17434a;
    border-radius: 2px;
}
QDoubleSpinBox:disabled {
    background-color: #444444;
    color: #686868;
}
QDoubleSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */

    width: 12px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
    height: 11px;
    background-color: #4d4e4f;
/*     border-image: url(./themes/Dark Theme/spin_up.png); */
    border-width: 0px;
    left: -1px;
    top: 1px;
}
QDoubleSpinBox::up-button:hover {
    background-color: #17434a;
}
QDoubleSpinBox::up-arrow {
    image: url(./themes/Dark Theme/spin_up.png);
    width: 8px;
    height: 8px;
}
QDoubleSpinBox::up-arrow:disabled, QDoubleSpinBox::up-arrow:off { /* off state when value is max */
   image: url(./themes/Dark Theme/spin_up_disabled.png);
}
QDoubleSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at bottom right corner */
    width: 12px;
    height: 11px;
    background-color: #4d4e4f;
/*     border-image: url(./themes/Dark Theme/spin_down.png); */
    border-width: 0px;
    border-top-width: 0;
    left: -1px;
    bottom: 1px;
}
QDoubleSpinBox::down-button:hover {
    background-color: #17434a;
}
QDoubleSpinBox::down-arrow {
    image: url(./themes/Dark Theme/spin_down.png);
    width: 8px;
    height: 8px;
}
QDoubleSpinBox::down-arrow:disabled, QDoubleSpinBox::down-arrow:off { /* off state when value is max */
   image: url(./themes/Dark Theme/spin_down_disabled.png);
}
/*****************************************/
/*****************************************/
/* QComboBox */
QComboBox {
    background: #4d4e4f;
    color: #bfc0c1;
    padding: 1px 0px 1px 3px;
    border: 1px solid #2c2d2d;
    border-radius: 4px;
    selection-background-color: #4d4e4f;
    selection-background-color: #17434a;
    padding-left: 4px;
}
QComboBox:hover {
    background-color: #5b5c5d;
    border-color:#32414B;
}
QComboBox:disabled {
  background-color: #444444;
  color: #787878;
}
/*QComboBox:editable, QComboBox:edit-focus {
    background-color: #4d4e4f;
}
QComboBox:editable:on {
    background-color: #4d4e4f;
}
QComboBox:editable:hover {
    background-color: #5b5c5d;
    border: 1px solid #32414B;
}*/
QComboBox::drop-down {
    background-color: transparent;
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 18px;
/*     border-left: 1px solid #32414B; */
}
QComboBox::down-arrow {
    background-color: transparent;
    width: 12px;
    height: 12px;
    image: url(./themes/Dark Theme/arrow_down.png);
}
QComboBox::down-arrow:disabled {
    image: url(./themes/Dark Theme/arrow_down_disabled.png);
}
QComboBox QAbstractItemView {
    border: 2px solid #17434a;
    background-color: #4d4e4f;
    selection-background-color: #17434a;
}
/*****************************************/
/*****************************************/
/* QTabWidget */
QTabWidget:pane {
    background-color: rgb( 80, 80, 81 );
    color: rgb( 190, 192, 193 );
    border: 1px solid #2c2d2d;
    border-radius: 2px;
    border-top-left-radius: 0px;
    top: -1px;
}
/*TabWidget {
    background-color: rgb( 80, 80, 81 );
    color: rgb( 190, 192, 193 );
}*/
/*****************************************/
/*****************************************/
/* QTabBar */
QTabBar::tab {
    background-color: rgb( 80, 80, 81 );
    border: 1px solid #2c2d2d;
    border-bottom-color: rgb( 80, 80, 81 );
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 4px 8px 4px 8px;
/*     margin-left: -1px; */
/*     margin-left: -1px; */
/*     left: 0px; */
/*     right: 10px; */
    /*margin-right: 2px;*/
}
/*QTabBar::tab:last:selected {
    margin-right: 0;
}*/
QTabBar::tab:!selected {
    background-color: rgb( 74, 74, 75 );
    border-bottom-color: #2c2d2d;
    margin-top: 2px;
}
QTabBar::tab:selected {
    background-color: rgb( 80, 80, 81 );
    border-bottom-color: rgb( 80, 80, 81 );
}
QTabWidget::tab-bar {
/*     left: 5px; */
/*     left: 1px; */
}
QTabBar QToolButton::right-arrow {
    image: url(./themes/Dark Theme/sarrow_right.png);
}
QTabBar QToolButton::right-arrow:disabled {
    image: url(./themes/Dark Theme/sarrow_right_disabled.png);
}
QTabBar QToolButton::left-arrow {
    image: url(./themes/Dark Theme/sarrow_left.png);
}
QTabBar QToolButton::left-arrow:disabled {
    image: url(./themes/Dark Theme/sarrow_left_disabled.png);
}
QTabBar QToolButton {
    background-color: #4d4e4f;
    color: #bfc0c1;
    border-radius: 2px;
    border: 1px solid #2c2d2d;
}
QTabBar QToolButton:hover {
    background-color: #5b5c5d;
    border: 1px solid #32414B;
}
QTabBar QToolButton:disabled {
    background-color: #444444;
    color: #686868;
}
/*****************************************/
/*****************************************/
/* ClickableLabel */
ClickableLabel {
    font-size:20px;
}
/*****************************************/
/*****************************************/
/* QScrollBar */
QScrollBar {
    background-color: rgb( 35, 36, 37 );
    border: 1px solid #2c2d2d;
}
QScrollBar:horizontal {
    background-color: rgb( 35, 36, 37 );
    border: 1px solid #2c2d2d;
    border-radius: 2px;
    height: 14px;
    margin: 0px 13px 0px 13px;
}
QScrollBar:vertical {
    background-color: rgb( 35, 36, 37 );
    border: 1px solid #2c2d2d;
    border-radius: 2px;
    width: 14px;
    margin: 13px 0px 13px 0px;
}
QScrollBar::handle:horizontal {
    background-color: rgb( 77, 78, 79 );
/*   border: 1px solid rgb( 97, 98, 99 ); */
    border-radius: 2px;
    min-width: 12px;
}
QScrollBar::handle:horizontal:hover {
    background-color: #777879;
}
QScrollBar::handle:vertical {
    background-color: rgb( 77, 78, 79 );
/*   border: 1px solid rgb( 97, 98, 99 ); */
    border-radius: 2px;
    min-height: 12px;
}
QScrollBar::handle:vertical:hover {
    background-color: #777879;
}
QScrollBar::add-line:horizontal {
    image: url("./themes/Dark Theme/arrow_right.png");
    height: 12px;
    width: 12px;
    background-color: rgb( 77, 78, 79 );
    border: 1px solid #2c2d2d;
    border-radius: 2px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal:disabled {
    image: url("./themes/Dark Theme/arrow_right_disabled.png");
}
QScrollBar::add-line:horizontal:hover {
    background-color: #777879;
}
QScrollBar::add-line:vertical {
    image: url("./themes/Dark Theme/arrow_down.png");
    height: 12px;
    width: 12px;
    background-color: rgb( 77, 78, 79 );
    border: 1px solid #2c2d2d;
    border-radius: 2px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical:disabled {
    image: url("./themes/Dark Theme/arrow_down_disabled.png");
}
QScrollBar::add-line:vertical:hover {
    background-color: #777879;
}
QScrollBar::sub-line:horizontal {
    image: url("./themes/Dark Theme/arrow_left.png");
    height: 12px;
    width: 12px;
    background-color: rgb( 77, 78, 79 );
    border: 1px solid #2c2d2d;
    border-radius: 2px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal:disabled {
    image: url("./themes/Dark Theme/arrow_left_disabled.png");
}
QScrollBar::sub-line:horizontal:hover {
    background-color: #777879;
}
QScrollBar::sub-line:vertical {
/*   border-image: url("./themes/Dark Theme/arrow_up.png") 2px; */
/*   background-color: #2387BF; */
/*   border-width: 2px; */
    image: url("./themes/Dark Theme/arrow_up.png");
    height: 12px;
    width: 12px;
    background-color: rgb( 77, 78, 79 );
    border: 1px solid #2c2d2d;
    border-radius: 2px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical:disabled {
    image: url("./themes/Dark Theme/arrow_up_disabled.png");
}
QScrollBar::sub-line:vertical:hover {
    background-color: #777879;
}
QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    background: none;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: none;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
/*****************************************/
/*****************************************/

QListWidget {
    background: rgb( 46, 47, 48 );
    border: 1px solid #0F0F0F;
    font-size: 11px;
    font-weight: bold;
}
/*****************************************/
/*****************************************/

QTreeView {
    background: rgb( 46, 47, 48 );
    border: 1px solid #0F0F0F;
    font-size: 11px;
    font-weight: bold;
}
QTreeView:item {
    padding: 2px 2px 2px 0px;
}
QTreeView:item:selected {
    background: #1d545c;
}
QTreeView:item:hover {
    background: #1d545c;
}
QTreeView::branch:selected {
    background: #1d545c;
}
QTreeView::branch:hover {
    background: #1d545c;
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url("./themes/Dark Theme/branch_close.png");
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    border-image: none;
    image: url("./themes/Dark Theme/branch_open.png");
}
/*****************************************/
/*****************************************/
/* WelcomeFrame Theme */
WelcomeTitle {
    color: #bfc0c1;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
WelcomeSubTitle {
    color: #bfc0c1;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
WelcomeButton {
    background-color: #4d4e4f;
    color: #bfc0c1;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
WelcomeButton:hover {
    background-color: #5b5c5d;
}
WelcomeList {
    font-size: 10px;
    font-weight: bold;
background: transparent;
}
WelcomeList:item {
    padding-bottom: 5px;
    padding-top: 5px;
}
WelcomeList:item:hover {
    background-color: #1d545c;
}
WelcomeList:item:selected {
    background-color: #1d545c;
}
WelcomeItemButton
{
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    border: none;
    background-color: #4d4e4f;
    color: #bfc0c1;
    padding: 10px;
}
WelcomeItemButton:hover {
    background-color: #1d545c;
}
/*****************************************/
/*****************************************/
/* Left SideBar Theme */
LeftButton
{
    font-size: 14px;
    font-weight: bold;
    text-align:left;
    icon-size: 20px;
    border: none;
    background: transparent;
    padding: 5px;
    color: rgb( 190, 192, 193 );
}
LeftButton:hover {
    background-color: rgb( 33, 34, 34 );
}
/*****************************************/
/*****************************************/
/* Settings Frame Theme */
SettingsBarButton
{
    font-size: 11px;
    text-align:left;
    font-weight:bold;
    icon-size: 20px;
    border: none;
    background: transparent;
    padding: 4px;
}
SettingsBarButton:hover {
    background-color: rgb(25, 25, 27);
}
SettingsBarLabel
{
    font-size:12px;
    text-align:left;
    font-weight:bold;
    color: cyan;
    padding: 4px;
}
SettingsTitle
{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
/*****************************************/
/*****************************************/
TextEditor {
    background-color: rgb(25, 25, 27);
}
/*****************************************/
/*****************************************/
/* QPushButton */
TabWid {
    color: rgb(191,192,193);
}
TabWid > QWidget {
    margin:0px;
    background-color: rgb( 33, 34, 34 );
    background-color: rgb( 80, 80, 81 );
    border: 1px solid #2c2d2d;
}
PushButton {
    background-color: #4d4e4f;
    color: #bfc0c1;
    icon-size: 20px;
    padding:5px;
}
PushButton:hover {
    background-color: rgb( 33, 34, 34 );
}
PushButton:disabled {
    background-color: #444444;
    color: #686868;
}
PushButton:checked {
    background-color: rgb( 33, 34, 34 );
    background-color: rgb( 80, 80, 81 );
}
TabWid > PushButton {
/*    margin-bottom:4px;*/
    background-color: #4d4e4f;
    background-color: rgb( 80, 80, 81 );
    background-color: rgb( 66, 67, 68 );
    margin:0px;
/*     margin-right:3px; */
    border: 1px solid #2c2d2d;
    border-bottom: transparent;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding:5px;
/*     padding-top:5px; */
}
TabWid PushButton:checked {
/*     padding-top:18px; */
    font-weight:bold;
}
/*TabWid > QAbstractScrollArea {
    background: transparent;
    border-color: transparent;
}*/

